extends ../../layout/auth

block content
    .auth-page
        .logo
            span.green Green
            span.whiteField Field

        a.back-home(href="/")
            i.fa-solid.fa-arrow-left
            |  Về trang chủ

        .auth-box

            .auth-icon
                i.fa-solid.fa-key

            h1.auth-title Quên mật khẩu

            p.auth-desc
                | Nhập email để nhận mã OTP

            form(method="POST")

                .form-group
                    label.form-label Email

                    .input-box
                        input(
                            type="email"
                            name="email"
                            placeholder="example@gmail.com"
                        )

                button.auth-btn(type="submit")
                    | Gửi OTP

            .auth-link
                a(href="/auth")
                    | Quay lại đăng nhập