include ../../admin/mixin/convertTime.pug
header.header

    .field-header
        div
            h2 #{titlePage}

    .header-right

        p.date

        .notification(prefixAdmin= prefixAdmin)
            i.fa-regular.fa-bell
            .notification-wrapper
                //- Notification Box
                .notification-box

                    //- Header
                    .notification-box__header
                        h3.notification-box__title Thông báo

                        button.notification-box__mark(type="button")
                            | Đánh dấu đã đọc

                    //- List
                    .notification-box__list
                        each item in notification
                            //- Item Success
                            .notification-box__item.notification-box__item--success
                                .notification-box__icon
                                    i.fa-solid.fa-check

                                .notification-box__content
                                    .notification-box__text
                                        | #{item.content}

                                    .notification-box__time
                                        +dateTime(item.createdAt)                      