footer.gf-footer

    .gf-container.gf-footer__wrap

        .gf-footer__left

            a.gf-logo(href="/")
                | Green
                span Field

            p
                | Hệ thống đặt sân bóng online tại Hà Nội.

        .gf-footer__center

            p
                | © 2025 GreenField.
                | All rights reserved.

        .gf-footer__right

            span 📞 1900 1234