footer.gf-footer

    .gf-container.gf-footer__wrap

        .gf-footer__left

            a.gf-logo(href="/")
                image(
                    src=settingGeneral.logo
                    alt="GreenField"
                )

            p
                | Hệ thống đặt sân bóng online tại Hà Nội.

        .gf-footer__center

            p
                | #{settingGeneral.copyright}
                | All rights reserved.

        .gf-footer__right

            span 📞 #{settingGeneral.phone}