header.gf-header

    .gf-container.gf-header__wrap

        // LOGO
        a.gf-logo(href="/")
            image(
                src=settingGeneral.logo
                alt="GreenField"
            )

        // MENU
        ul.gf-menu

            li
                a(href="/")
                    | Trang chủ

            li
                a(href="/field")
                    | Sân bóng
            li
                a(href="/booking")
                    | Đặt sân
            if(user)
                li
                    a(href="/booking-history")
                        | Lịch sử

            li
                a(href="/contact")
                    | Liên hệ

        // ACTION
        .gf-header__action

            if user
                a.gf-login-btn(href="/user/info")
                    | Tài khoản

                a.gf-logout-btn(href="/auth/logout")
                    | Đăng xuất
            else
                a.gf-login-btn(href="/auth")
                    | Đăng nhập
                
                